
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Source+Sans+3:wght@400;600;700&display=swap');


  html,
  body,
  #root,
  .app,
  .content{
    height: 100%;
    width: 100%;
    font-family: source san 3 ,  sans-serif;
  }

  .app{
    display: flex;
    position: relative;
  }

  ::-webkit-scrollbar{
    width: 2px;
    color: transparent;
  }

  ::-webkit-scrollbar-track{
    background: #e0e0e0;
  }

  ::-webkit-scrollbar-thumb{
    background: #888;
  }
  ::-webkit-scrollbar-track:hover{
    background: #555; 
   }
  

   /* for loader */
.loader-container {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  position: relative;
}

.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: 
    var(--c) 50% 0, 
    var(--c) 50% 100%, 
    var(--c) 100% 50%, 
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 { 
  100% { transform: rotate(.5turn); }
}
